@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-100
  }
}



.swiper-button-next::after,
.swiper-button-prev::after {
  @apply text-yellow-400;
  /* Aplica a cor amarela nos ícones */
}

.swiper-pagination-bullet-active {
  background-color: #facc15 !important;
  /* Cor vermelha mais intensa da bolinha ativa */
}


.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #eab308;
  border-radius: 14px;
}